* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  

body{
   background-color: rgb(253, 251, 251);
}

#cabecalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    background-color: #76BA99;
    border: 2px solid black;
}

.cabecalho-imagem{
    width: 150px;
}

#minha_foto{
    width: 250px;
    border-radius: 50%;
}

#licoes_aprendias{
    margin-left: 100px;
}



.listas{

    padding: 2rem 10rem;
  display: flex;
  grid-template-columns: 50% 50%; 
  gap: 5rem;
  justify-content: center;
  border: 2px solid black;
 
  
  
   
    
}



.conteudo{
    padding: 2rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  /*display: grid;
  grid-template-columns: 50% 50%; */
  gap: 5rem;
  justify-content: center;
  border: 2px solid black;
  

}

aside{
    padding-top: 4rem;
}

#rodape{
    padding: 2rem 10rem;
    border: 2px solid black;
}

.botoes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    
}

.botoes > li:hover{
    /*background-color:black ;*/
    width: 15%;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 100px;
    margin-top: 10px;
        
    
}
.button:hover {
    
	background:linear-gradient(to bottom, #378de5 5%, #79bbff );
	background-color:#378de5;
   
        
}
.button:active {
	position:relative;
	top:1px;
}




