* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  

body{
   background-color: rgb(253, 251, 251);
}

#cabecalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    background-color: #76BA99;
}

.cabecalho-imagem{
    width: 150px;
}

#minha_foto{
    width: 250px;
    border-radius: 50%;
}

#licoes_aprendias{
    margin-left: 100px;
}



.listas{

    padding: 2rem 10rem;
  display: flex;
  grid-template-columns: 50% 50%; 
  gap: 5rem;
  justify-content: center;
  border: 2px solid black;
 
  
  
    /*display: flex;
    flex-direction: column;*/
    
}

/*.conteudo{
    border: 2px solid green;
    display: flex;
    align-items: center;
    
}
*/

.conteudo{
    padding: 2rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  /*display: grid;
  grid-template-columns: 50% 50%; */
  gap: 5rem;
  justify-content: center;
  border: 2px solid green;
  

}

aside{
    padding-top: 4rem;
}
